$black: #232323;
$grey-white: #F1EFE9;
$blue: #34526E;
$woods: #A09D00;
$thick-border: .2rem solid $black;
$thin-border: .07rem solid $black;

@mixin flex($flexDirection: column, $alignItems: center, $justifyContent: center) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

body,
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    @include flex;
    height: 100vh;
    background: $black;
}


.screen-reader-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.login-section {
    @include flex;
    width: 90vh;
    height: 90vh;
    background-image: url(/src/images/login-background.png);
    background-repeat: no-repeat;
    background-size: 90vh; 
}

.login-wrapper {
    @include flex;
    margin-bottom: 25vh;
    width: 50vh;
    height: 50vh;
    background-color: $grey-white;
    opacity: 2;
    border: .2rem solid $black;
}

.heading {
    padding-bottom: .75rem;
    text-align: center;
}

.login-description {
    padding-bottom: .75rem;
}

.login-name-input,
.password-input {
    margin-bottom: .6rem;
    padding: 10px;
    border: $thin-border;
}

.hidden {
    display: none;
    width: 0px;
    height: 0px;
}

.login-submit-btn {
    width: 100%;
    padding: 4px;
    font-weight: bolder;
    border: $thin-border;
    background: none;
    &:hover {
        cursor: pointer;
        background: $woods;
        border: .07rem solid $woods;
    }
}
